<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Boogle</title>
    <meta name="description" content="boogle search">
    <meta name="keywords" content="boogle search engine">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/boogle style.css" type="text/css">

</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="links">
            <a href="#">About me</a>
            <a href="#">Bmail</a>
            <a href="#">Pictures</a>
        </div>
        <img class="profile"
             src="/static/images/boogle/ribica.gif"/>
    </div>
    <div class="content">
        <!--TODO: make div around img and buttons-easier to manage-->
        <div class="image-wrapper"><img class="banner-image"
                                        src="/static/images/boogle/ribica.gif"/>
        </div>
        <div class="search">
            <input type="text" placeholder="I'm feeling loopy">
        </div>
        <div class="buttons">
            <button class="search-button search-button-margin-hack">Search</button>
            <button class="search-button">I'm feeling lonely!</button>
        </div>

    </div>
    <div class="footer">
        <div class="footer-left links">
            <a href="#">Advertisement</a>
            <a href="#">Business</a>
            <a href="#">How Boogle works?</a>
        </div>

        <div class="footer-right links">
            <a href="#">Privacy</a>
            <a href="#">Terms and Conditions</a>
            <a href="#">Settings</a>
        </div>
    </div>
</div>
</div>

</body>
</html>