<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="My fakebook">
    <meta name="keywords" content="me, my hobbies, fakebook">
    <title>Meta Petrič | Fakebook </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/fakebook_style.css">
</head>

<body class="body">
<header><h1 class="logo">fakebook</h1></header>

<article class="background-body">
    <label class="search">Search: </label><input class="search2" type="text" placeholder="Search by fakebook name">

    <br>
    <br>
    <img alt="this is meta's avatar"
         class="avatar"
         height="250"
         src="/static/images/boogle/ribica.gif"
         width="250"/>
    <h2 class="name">meta petrič</h2><br>

    <button class="friend-button"> Add a friend</button>
    <br>
    <br>

    <div class="left">
        <p class="main-text"><strong>City: </strong>Ljubljana</p>
        <p class="main-text"><strong>Age:</strong> not to be asked :)</p>
        <p class="main-text"><strong>Education: </strong>Landscape architect</p>
    </div>
    <div class="right">
        <p class="main-text"><strong>Hobbies:</strong></p>
        <ul class="main-text">
            <li>baking</li>
            <li>skiing</li>
            <li>cycling</li>
            <li>rock climbing</li>
            <li>dancing</li>
            <li>learning anything new</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <p class="main-text"><strong>Fakebook friends: </strong>who knows the final number?</p>
    <p class="main-text"><strong>Fakebook enemies: </strong>none to date</p>
</article>
<footer><h1 class="footer"></h1></footer>
</body>
</html>